.header_bar {
    background-color: #139F9D;
    
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;

    font-size: 12px;

}

td {
    text-align: center;
}


.ii1 {
    /* width: 2.12%; */
}

.ii2 {
    /* width: 4.24%; */
}

#ibutton {
    /* width: 2.12%; */
}

#i1 {
    /* width: 2.12%; */
}

#i2 {
    /* width: 4.24%; */
}

#i3 {
    /* width: 4.24%; */
}

#i4 {
    /* width: 4.24%; */
}

#i5 {
    /* width: 4.24%; */
}

#i6 {
    /* width: 4.24%; */
}

#i7 {
    /* width: 2.12%; */
}

#i8 {
    /* width: 4.24%; */
}

#i9 {
    /* width: 4.24%; */
}

#i10 {
    /* width: 4.24%; */
}

#i11 {
    /* width: 4.24%; */
}

#i12 {
    /* width: 4.24%; */
}

#i13 {
    /* width: 2.12%; */
}

.accordion-content {
    background-color: #FFFFFF;

    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;

    font-size: 12px;

}

#l1 {
    /* width: 2.7%; */
}

#l2 {
    /* width: 5.5%; */
}

#l3 {
    /* width: 1%; */
}

#l4 {
    /* width: 1%; */
}

#l5 {
    /* width: 2.5%; */
}

#l6 {
    /* width: 2.5%; */
}

#l7 {
    /* width: 2.5%; */
}

#l8 {
    /* width: 2.5%; */
}

#l9 {
    /* width: 2%; */
}

#l10 {
    /* width: 2.5%; */
}

#l11 {
    /* width: 2.5%; */
}

#l12 {
    /* width: 2.5%; */
}

#l13 {
    /* width: 2.5%; */
}

#l14 {
    /* width: 2.5%; */
}

#l15 {
    /* width: 2.5%; */
}

#l16 {
    /* width: 1%; */
}

#l17 {
    /* width: 1%; */
}

#l18 {
    /* width: 2.5%; */
}

#l19 {
    /* width: 2.5%; */
}

#l20 {
    /* width: 1%; */
}

#l21 {
    /* width: 1%; */
}

#l22 {
    /* width: 2.5%; */
}

#l23 {
    /* width: 2.5%; */
}

#l24 {
    /* width: 1%; */
}

#l25 {
    /* width: 1%; */
}

#l26 {
    /* width: 1%; */
}