.allOf {
    display: grid;
    grid-template-columns: 27, 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}


.info_bar {
    display: grid;
    grid-template-columns: 27, 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    background-color: #EFEFEF;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 10px;
}

.info-results {
    grid-column-start: 1;
    grid-column-end: 1;
}

.info-year {
    grid-column-start: 2;
    grid-column-end: 2;
}

.info-month {
    grid-column-start: 3;
    grid-column-end: 3;
}

.info-start {
    grid-column-start: 4;
    grid-column-end: 4;
}

.info-end {
    grid-column-start: 5;
    grid-column-end: 5;
}

.info-calls {
    grid-column-start: 6;
    grid-column-end: 6;
}

.info-tot-d {
    grid-column-start: 7;
    grid-column-end: 7;
}

.info-tot-call-time {
    grid-column-start: 8;
    grid-column-end: 8;
}

.iinfo-avg-call {
    grid-column-start: 9;
    grid-column-end: 9;
}

.info-reach {
    grid-column-start: 10;
    grid-column-end: 10;
}

.info-calls-out {
    grid-column-start: 11;
    grid-column-end: 11;
}

.info-replied-1 {
    grid-column-start: 12;
    grid-column-end: 12;
}

.info-not-replied {
    grid-column-start: 13;
    grid-column-end: 13;
}

.info-ring-time {
    grid-column-start: 14;
    grid-column-end: 14;
}

.info-calls-in {
    grid-column-start: 15;
    grid-column-end: 15;
}

.info-replied-2 {
    grid-column-start: 16;
    grid-column-end: 16;
}

.info-out {
    grid-column-start: 17;
    grid-column-end: 17;
}

.info-in {
    grid-column-start: 18;
    grid-column-end: 18;
}

.info-potres {
    grid-column-start: 19;
    grid-column-end: 19;
}

.info-pot-cont {
    grid-column-start: 20;
    grid-column-end: 20;
}

.info-crea {
    grid-column-start: 21;
    grid-column-end: 21;
}

.info-transl {
    grid-column-start: 22;
    grid-column-end: 22;
}

.info-time-paid {
    grid-column-start: 23;
    grid-column-end: 23;
}

.info-bonus-eur {
    grid-column-start: 24;
    grid-column-end: 24;
}

.info-czk {
    grid-column-start: 25;
    grid-column-end: 25;
}

.info-emr {
    grid-column-start: 26;
    grid-column-end: 26;
}

.info-ems {
    grid-column-start: 27;
    grid-column-end: 27;
}